.product-listing-card {
    color: black;
    font-size: .8rem;
    text-decoration: none;
    background-color:rgb(255, 255, 255);
    aspect-ratio: calc(1/1.25);
    display: grid;
    grid-template-rows: 60% 40%;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0px 0px 25px 0px rgba(132,132,132,0.25);
    outline: 1px solid rgb(216, 216, 216);
}
.product-listing-card > div {
    height: 100%;
}
.product-listing-details {
    padding-top: 5px;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: .4rem;
    height: 100%;
}
.product-listing-details p {
    margin: 0;
}
.product-listing-details > p:first-child {
    display: -webkit-box;
    max-width: 100%;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-listing-details > div:nth-child(3) {
    display: flex;
    align-items: flex-end;
    color: var(--theme);
}
.product-type-tag {
    font-size: 0.8em;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 2px;
    display: inline-block;
    padding: 1px 12px;
}
img {
    background-color: rgb(236, 236, 236);
}
main {
    margin: 4rem;
}
.nav-link {
    text-decoration: none;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid black;
    color: black;
    font-size: .8rem;
}
.nav-link:hover {
    background-color: black;
    color: white;
}
.product-view {
    grid-template-columns: 2fr 5fr;
}
.product-view > div > p:nth-child(2) {
    color: var(--theme);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.product-view > div > p:nth-child(4) {
    color: rgb(73, 73, 73);
}
.product-view > div > p:last-child {
    padding-left: 1rem;
}
.purchase-buttons {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.purchase-buttons > button {
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: var(--theme);
    cursor: pointer;
}
.purchase-buttons > button:hover {
    filter: brightness(1.1);
}
.purchase-buttons > button:nth-child(2) {
    background-color: var(--accent);
}
.product-listings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(220px));
    grid-gap: .75em;
}
article:not(article:nth-child(1)) {
    padding: 5vw;
}
article:nth-child(1) {
    background-color: var(--accent);
    height: 50vh;
    padding: 1rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
article:nth-child(1) > div > div {
    display: inline-flex;
}
article:nth-child(1) > div > div > button {
    margin: .5rem;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
article:nth-child(2) {
    margin: 0 5vw;
}
main {
    margin: 0;
}