{% extends "base.html" %}
{% load static %}
{% block title %}Hobbysite - Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'user_management/styles/profile.css' %}">
{% endblock %}
{% block content %}
    <h3>Profile</h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <section>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="profile-container">
            <div>
              <div>
                <img src="{{ user.profile.profile_picture.url }}">
                <img src="{% static 'user_management/icons/edit.svg' %}">
              </div>
            </div>
            <div>
              <p>
                  <label for="register-input-email">Email:</label>
                  <input type="email" name="email" id="register-input-email" value="{{ user.profile.email_address }}" required>
              </p>
              <p>
                  Username: {{ user.username }}
              </p>
              <p>
                  <label for="register-input-displayName">Display Name:</label>
                  <input type="text" name="display-name" id="register-input-displayName" value="{{ user.profile.display_name }}" required>
              </p>
              <p>
                  <input type="file" accept="image/*" name="profile-picture" id="register-input-profilePicture" hidden>
              </p>
              <button type="submit">Save</button>
            </div>
          </div>
      </form>
    </section>
{% endblock %}
{% block scripts %}
<script src="{% static 'user_management/scripts/profile.js' %}"></script>
{% endblock %}