{% extends "base.html" %}
{% load static %}
{% block title %}Hobbysite - Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'user_management/styles/profile.css' %}">
{% endblock %}
{% block content %}
    <h3>Profile</h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <section>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="profile-container">
            <div>
              <div>
                <img src="{{ user.profile.profile_picture.url }}">
                <img src="{% static 'user_management/icons/edit.svg' %}">
              </div>
            </div>
            <div>
              <p>
                  <label for="register-input-email">Email:</label>
                  <input type="email" name="email" id="register-input-email" value="{{ user.profile.email_address }}" required>
              </p>
              <p>
                  Username: {{ user.username }}
              </p>
              <p>
                  <label for="register-input-displayName">Display Name:</label>
                  <input type="text" name="display-name" id="register-input-displayName" value="{{ user.profile.display_name }}" required>
              </p>
              <p>
                  <input type="file" accept="image/*" name="profile-picture" id="register-input-profilePicture" hidden>
              </p>
              <button type="submit">Save</button>
            </div>
          </div>
      </form>
    </section>
    <section class="dashboard">
      {% if purchases.all %}
      <div>
        <h1>Merch Purchases</h1>
        <ul>
          {% for purchase in purchases %}
          <li><a href="{{purchase.product.get_absolute_url}}">
            <p>{{purchase.product.name}} <span>{{purchase.amount}}x</span></p>
            <p>{{purchase.created_on}}</p>
          </a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if sales.all %}
      <div>
        <h1>Merch Sales</h1>
        <ul>
          {% for sale in sales %}
          <li><a href="{{sale.product.get_absolute_url}}">
            <p>{{sale.product.name}} <span>{{sale.amount}}x</span></p>
            <p>{{sale.created_on}}</p>
          </a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if wiki_articles.all %}
      <div>
        <h1>Wiki Articles</h1>
        <ul>
          {% for article in wiki_articles %}
          <li><a href="{{article.get_absolute_url}}">
            <p>{{article.title}}</p>
            <p>{{article.created_on}}</p>
          </a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if blog_articles.all %}
      <div>
        <h1>Blog Articles</h1>
        <ul>
          {% for blog in blog_articles %}
          <li><a href="{{blog.get_absolute_url}}">
            <p>{{blog.title}}</p>
            <p>{{blog.created_on}}</p>
          </a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if threads.all %}
      <div>
        <h1>Forum Threads</h1>
        <ul>
          {% for thread in threads %}
          <li><a href="{{thread.get_absolute_url}}">
            <p>{{thread.title}}</p>
            <p>{{thread.created_on}}</p>
          </a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if commissions_created.all %}
      <div>
        <h1>Commissions Created</h1>
        <ul>
          {% for commission in commissions_created %}
          <li><a href="{{commission.get_absolute_url}}">
            <p>{{commission.title}}</p>
            <p>{{commission.created_on}}</p>
          </a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if commissions_joined.all %}
      <div>
        <h1>Commissions Joined</h1>
        <ul>
          {% for commission in commissions_joined %}
          <li><a href="{{commission.get_absolute_url}}">
            <p>{{commission.title}}</p>
            <p>{{commission.created_on}}</p>
          </a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
{% endblock %}
{% block scripts %}
<script src="{% static 'user_management/scripts/profile.js' %}"></script>
{% endblock %}