{% extends "base.html" %}
{% load static %}
{% block title %}Hobbysite - Register{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'user_management/styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'user_management/styles/profile.css' %}">
{% endblock %}
{% block content %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <div class="login-container">
        <div>
            <h3>Register</h3>
            <div class="profile-container">
                <div>
                    <div>
                        <img src="{% static 'user_management/icons/empty.png' %}">
                        <img src="{% static 'user_management/icons/edit.svg' %}">
                    </div>
                </div>
                <div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            <label for="register-input-email">Email:</label>
                            <input type="email" name="email" id="register-input-email" required>
                        </p>
                        <p>
                            <label for="register-input-username">Username:</label>
                            <input type="text" name="username" id="register-input-username" required>
                        </p>
                        <p>
                            <label for="register-input-password">Password:</label>
                            <input type="password" name="password" id="register-input-password" required>
                        </p>
                        <p>
                            <label for="register-input-passwordConfirm">Confirm Password:</label>
                            <input type="password" name="passwordConfirm" id="register-input-passwordConfirm" required>
                        </p>
                        <input type="file" accept="image/*" name="profile-picture" id="register-input-profilePicture" hidden>
                        <button type="submit">Register</button>
                    </form>
                    <p>Already have an account? Click <a href="{% url 'login' %}">here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'user_management/scripts/profile.js' %}"></script>
{% endblock %}