{% extends "base.html" %}
{% load static %}

{% block title %}Commissions{% endblock title %}

{% block content %}
    <h2>COMMISSIONS: </h2>
    {% if commissions %}
        <ol>
            {% for commission in commissions %}
                <li>
                   <div>
                    <p>Link: <a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a></p>
                    <p><b>Created on:</b> {{commission.created_on}} <b>Modified on:</b> {{commission.updated_on}}</p>
                    <p>{{ commission.description }}</p>
                    <p><b>People required:</b> {{commission.people_required}}</p>

                   </div>
                </li>

            {% endfor %}

        </ol>
    {% else %}
    <p>
        There are no commissions. Good job proxy!
    </p>
    {% endif %}

{% endblock %}