<!-- This html file displays the complete details of a chosen thread. -->
{% extends 'base.html' %}
{% block title %} {{ thread.title }} {% endblock %}
{% block body %}
<a href="{% url 'forum:thread_list' %}">Forum Home</a>
    <div class="thread-holder">
        <div class="thread-name">
            <h2> {{ thread.title }} </h2>
        </div>
        <div class="thread-time-details">
            <p> Posted on: {{ thread.created_on }}, Last Updated: {{ thread.updated_on }} </p>
        </div>
        <div class="thread-entry">
            <p> {{ thread.entry }} </p>
        </div>
    </div>
    <h3>Comments</h3>
    {% for comment in comments %}
        <p>{{ comment.author }}</p>
        <p>{{ comment.entry }}</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <h5> Add Comment </h5>
        {{ comment_form.as_p }}
        <button type="Submit">Post Comment</button>
    </form>
    <h3> Posts under {{ thread.category }}</h3>
    {% for thread in other_threads %}
        <h4> <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></h4>
    {% endfor %}
{% endblock %}