{% extends 'base.html' %}
{% block title %} Forum Menu {% endblock %}
{% block body %}
    {% for thread in user_threads %}
        <h1>{{ thread.author.display_name }}'s Posts</h1>
        <div class = "thread-list">
            <div class= "thread-list-name">
                <h2> <a href="{{thread.get_absolute_url}}"> {{ thread.title }} </a> </h2>
            </div>
    {% endfor %}
    <h1>Other Posts</h1>
    {% for group in other_threads %}
        <h3>{{ group.category.name }}</h3>
        {% for thread in group.threads %}
            <a href="{{thread.get_absolute_url}}">{{ thread.title }}</a>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}