{% extends 'base.html' %}
{% load static %}
{% block title %} Forum Menu {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/forum.css' %}">
{% endblock %}
{% block nav %}
    <div class = "forum-nav">
        <h1>Forum</h1>
        {% if user.is_authenticated %}
            <span>
                <a href="{% url 'forum:create_thread' %}" class="create-thread">
                    <button class="create-btn">
                        <p>Create</p>
                    </button>
                </a>
            </span>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="sidebar">
        <div class="sidebar-item"><h3>Categories</h3></div>
        <ul>
            {% for category in categories %}
                <li><a href="#category-{{category.id}}"><span>{{ category.name }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="forum-body">
        {% if user.is_authenticated %}
            <h1>{{ username }}'s Posts</h1>
            {% for thread in user_threads %}
                <div class = "thread-list">
                    <div class= "thread-list-name">
                        <h2> <a href="{{thread.get_absolute_url}}"> {{ thread.title }} </a> </h2>
                    </div>
            {% endfor %}
            <h1>Other Posts</h1>
            {% for group in other_threads %}
                <h3 id="category-{{ group.category.id }}">{{ group.category.name }}</h3>
                {% for thread in group.threads %}
                    <a href="{{thread.get_absolute_url}}">{{ thread.title }}</a>
                {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h1>Posts</h1>
            {% for group in all_threads %}
                <h3>{{ group.category.name }}</h3>
                <ul>
                    {% for thread in group.threads %}
                        <li><a href="{{thread.get_absolute_url}}">{{ thread.title }}</a></li>
                    {% endfor %}
                </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}