<!-- This html file displays all of the posts/threads in a selected category. -->
{% extends 'forum/base.html' %}
{% block head %}
    <style>
        a{
            text-decoration: none;
            color:black;
        }
        .thread-details{
            grid-column: 1 /12;
            grid-row: 2;
            padding: 0px;
        }
        .thread-list-name > h2{
            font-size: 2em;
        }
    </style>
{% endblock %}
{% block title %} Posts under {{chosen_category}} {% endblock %}
{% block content %}
    {% for thread in threads %}
        <a href="{{thread.get_absolute_url}}">
            <div class = "thread-list">
                <div class="thread-list-name">
                    <h2> {{ thread.title }} </h2>
                    <p> {{ thread.entry }} </p>
                </div>
                <div class="thread-details">
                    <p> Created: {{ thread.created_on }}, Last Updated: {{ thread.updated_on }} </p>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
    