{% extends "base.html" %}
{% load static %}
{% block title %}Welcome to Hobbysite{% endblock %}
{% block head %}
<link rel="shortcut icon" href="{% static 'home/icons/home.png' %}">
<link rel="stylesheet" href="{% static 'home/styles/landing.css' %}">
{% endblock  %}
{% block content %}
<section style="background-image: url('{% static 'home/images/landing.jpg' %}');">
    <div>
        <h1>Welcome to <span>Hobbysite</span></h1>
        <p>Your one-stop hub for learning, creating, sharing, and connecting.</p>
        {% if not user.is_authenticated %}
        <p><a href="{% url 'login' %}">Login</a> to make the most out of our services</p>
        {% endif %}
    </div>
</section>
<section>
    <p>Services we offer:</p>
    <ul>
        {% for service in services %}
            <li><a href="{% url service.url %}">
                <img src="{% static service.icon %}">
                <h3>{{ service.name }}</h3>
                <p>by <span>{{ service.owner }}</span></p>
                <p>{{ service.motto }}</p>
            </a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}