{% extends 'blog/base.html' %}

{% block title %}Article List{% endblock title %}

{% block content %}
    <h1>Community Blogs</h1>
    
    {% for article in articles %}
        <a href="{% url 'blog:item' article.id %}" class="article-link">
            <div class="article-card">
                <h3>{{ article.title }}</h3>
                <p class="category">{{ article.category.name }}</p>
                <p class="last-update">Last updated: {{ article.updated_on }}</p>
            </div>
        </a>
    {% empty %}
        <p>No articles available.</p>
    {% endfor %}
{% endblock %}