.profile-container {
    display: grid;
    grid-template-columns: 40% 60%;
}
.profile-container div:nth-child(1) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.profile-container div:nth-child(1) > div {
    position: relative;
    width: 10rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
}
.profile-container div:nth-child(1) > div > img {
    position: absolute;
}
.profile-container div:nth-child(1) > div > img:nth-child(1) {
    height: 100%;
}
.profile-container div:nth-child(1) > div > img:nth-child(2) {
    display: none;
    height: 3rem;
    border-radius: 0;
    box-shadow: 0px 0px 0px 1000px rgba(255, 255, 255, 0.47);
    background-color: rgba(255, 255, 255, 0.47);
}
.profile-container div:nth-child(1) > div:hover > img:nth-child(2) {
    display: block;
}
form button {
    background-color: var(--theme);
    border: none;
    color: white;
    padding: .4rem 1.5rem;
    margin-bottom: 1rem;
}
section.dashboard {
    margin-top: 4rem;
    background: rgb(248, 248, 248);
    padding: 1rem;
}
section.dashboard > div + div {
    border-top: 1px solid rgb(148, 148, 148);
}
section.dashboard ul {
    list-style: none;
}
section.dashboard li a {
    color: black;
    background-color: white;
    padding: .1rem 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
}
section.dashboard li a:hover {
    background-color: rgb(219, 219, 219);
}
section.dashboard li a > p:nth-child(2) {
    text-align: right;
    color: rgb(104, 104, 104);
}
section.dashboard li a > p:nth-child(1) > span {
    font-size: .8em;
    color: rgb(104, 104, 104);
    outline: 1px solid rgb(123, 123, 123);
    padding: .1em .4em;
    margin-left: .4em;
    border-radius: 2px;
}