{% extends 'base.html' %}
{% load static %}

{% block title %}Create New Article{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'wiki/styles/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'home/icons/wiki.png' %}">
{% endblock %}

{% block content %}
    <a href="{% url 'wiki:articles_list' %}" class="button">
        &larr; Back to Articles
    </a>

    <h2 class="section-title">Create New Article</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ article_form.as_p }}
      <button type="submit">Create</button> 
    </form>
{% endblock %}