{% extends "base.html" %}
{% block title %}Commission Details{% endblock %}
{% block content %}
    {% if request.user.profile == commission.author %}
        <a href="{% url 'commissions:commission_update' pk=commission.pk%}"><button>update commission details</button></a>
    {% endif %}
    {% if jobs %}
        {% for job in jobs %}
            <div class="commission-block">
                <p><h2>JOB ROLE: <i>{{ job.role }}</i></h2></p>
                <p>{{ job.entry }}</p> 
                <p>Maximum Manpower: {{ job.manpower_required }}, Current Manpower: {{ job.applied_count }}</p>
                <p>Status: {{ job.status }}</p>
            </div>
            {% if owner %}
                <a href="{% url 'commissions:job_application' job_id=job.id %}">test</a>
            {% endif %}
            <!-- {% if owner %}
                {% for job_application in job_applications %}
                    {% if job_application.job.id == job.id %}
                        <p>Applicant: {{ job_application.applicant.display_name }}</p>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="job_application_id" value="{{ job_application.id }}">
                            <button type="submit" name="action" value="accept" {% if job_application.status == 'accepted' or job_application.status == 'rejected' %}
                            disabled style="opacity: 0.5; cursor: not-allowed;" {% endif %}>Accept</button>
                            <button type="submit" name="action" value="reject" {% if job_application.status == 'accepted' or job_application.status == 'rejected' %}
                            disabled style="opacity: 0.5; cursor: not-allowed;" {% endif %}>Reject</button>
                        </form>
                    {% endif %}
                {% endfor %}
            {% else %} -->
            <!-- {% endif %} -->
            {% if not owner %}
                <form method="POST">
                    {% csrf_token %}
                    {{ job_status.as_p }}
                    <input type="hidden" name="job_id" value="{{ job.id }}">
                    <button type="submit"
                        {% if job.id in applied_job_ids or job.status == 'full' or not user.is_authenticated %}disabled style="opacity: 0.5; cursor: not-allowed;"{% endif %}>
                        Apply
                    </button>
                </form>
            {% endif %}
        {% endfor %}  
    {% else %}
        <div class="commission-block">
            There are no jobs. 
        </div>
    {% endif %}    
    <a href="{% url 'commissions:commission' %}"><button>return to commission list</button></a>
{% endblock %}