{% extends "base.html" %}
{% block title %}Commission Details{% endblock %}
{% block content %}
    {% if jobs %}
        {% for job in jobs %}
            <div class="commission-block">
                <p><h2>COMMISSION DETAILS: <i>{{job.commission.title }}</i></h2></p>
                <p><b>Created on:</b> {{job.created_on}} <b>Modified on:</b> {{job.updated_on}}</p>
                <p>{{ job.entry }}</p>
            </div>
        {% endfor %}  
    {% else %}
        <div class="commission-block">
            There are no jobs. 
        </div>
    {% endif %}    
{% endblock %}