{% extends "base.html" %}
{% load static %}
{% block title %}{{product.name}}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'merchstore/styles.css' %}">
{% endblock %}
{% block content %}
<article class="product-view">
    <div><a href="{% url 'merchstore:index' %}" class="nav-link">< Home</a></div>
    <img src="" class="">
    <div>
        <form class="item-form" action="{% url 'merchstore:add' %}" method="post">
            {% csrf_token %}
            <input name="name" placeholder="Product Name">
            <input name="price" placeholder="Price">
            <input type="number" name="stock" placeholder="Stock" >
            <select name="type">
                {% for type in product_types %}
                    <option value="{{type.id}}">{{type.name}}</option>
                {% endfor %}
            </select>
            <p>Description:</p>
            <textarea name="description" placeholder="Product Description"></textarea>
            <div class="purchase-buttons">
                <button>List Item</button>
            </div>
        </form>
    </div>
</article>
{% endblock %}
{% block scripts %}
<script src="{% static 'merchstore/priceFormatter.js' %}"></script>
{% endblock  %}