{% extends "base.html" %}
{% load static %}
{% block title %}Merchandise Store - All Items{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{% static 'merchstore/icons/cart.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'merchstore/styles.css' %}">
{% endblock %}
{% block nav %}
    <a href="{% url 'merchstore:index' %}"><h2>Merchandise Store</h2></a>
    <div>
        <a href="{% url 'merchstore:transactions' %}"><button><img src="{% static 'merchstore/icons/package.svg' %}"></button></a>
        <a href="{% url 'merchstore:cart' %}"><button><img src="{% static 'merchstore/icons/cart.svg' %}"></button></a>
    </div>
{% endblock %}
{% block content %}
<section class="hero">
    <div>
        <h1>Merchandise Store</h1>
        <h2>A Trusted Place to Buy & Sell</h2>
        <p>From gadgets to furniture—find great deals or make extra cash today.</p>
        <div>
            <button>Browse Listings</button>
            <a href="{% url 'merchstore:add' %}"><button>List an Item</button></a>
        </div>
    </div>
</section>
<article>
    {% if user.is_authenticated %}
        <section>
            <h3>Your Products</h3>
            <div class="product-listings-container">
                {% for product in user_products %}
                    <a href="{{product.get_absolute_url}}" class="product-listing-card">
                        <img src="" class="product-img">
                        <div class="product-listing-details">
                            <p>{{product.name}}</p>
                            <div><p class="product-type-tag">{{product.product_type.name}}</p></div>
                            <div><p class="price">₱{{product.price}}</p></div>
                        </div>
                    </a>
                {% empty %}
                    <h3>Click here to sell your product</h3>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <section>
        <h3>Products</h3>
        <div class="product-listings-container">
            {% if products %}
                {% for product in products %}
                    <a href="{{product.get_absolute_url}}" class="product-listing-card">
                        <img src="" class="product-img">
                        <div class="product-listing-details">
                            <p>{{product.name}}</p>
                            <div><p class="product-type-tag">{{product.product_type.name}}</p></div>
                            <div><p class="price">₱{{product.price}}</p></div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <h3>Sorry, no products found.</h3>
            {% endif %}
        </div>
    </section>
</article>
{% endblock %}
{% block scripts %}
<script src="{% static 'merchstore/priceFormatter.js' %}"></script>
{% endblock  %}