{% extends "base.html" %}
{% load static %}
{% block title %}Merchandise Store - {{product.name}}{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{% static 'merchstore/icons/cart.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'merchstore/styles.css' %}">
{% endblock %}
{% block nav %}
    <a href="{% url 'merchstore:index' %}"><h2>Merchandise Store</h2></a>
    <div>
        <a href="{% url 'merchstore:transactions' %}"><button><img src="{% static 'merchstore/icons/package.svg' %}"></button></a>
        <a href="{% url 'merchstore:cart' %}"><button><img src="{% static 'merchstore/icons/cart.svg' %}"></button></a>
    </div>
{% endblock %}
{% block content %}
<article class="product-view">
    <div><a href="{% url 'merchstore:index' %}" class="nav-link">< Go back</a></div>
    <img src="" class="">
    <div>
        <h2>{{product.name}}</h2>
        <p class="price">₱{{product.price}}</p>
        <p class="product-type-tag">{{product.product_type.name}}</p>
        <p>Description:</p>
        <p>
            {{product.description|linebreaksbr}}
        </p>
        {% if not user.profile == product.owner %}
        <form action="" method="post">
            {% csrf_token %}
            <input name="status" type="text" id="order-status" hidden>
            <input name="qty" type="number" value="{% if product.stock > 0 %}1{% else %}0{% endif %}" min="0" max="{{product.stock}}">
        </form>
        {% endif %}
        <p>{{product.stock}} pieces available ({{product.get_status_display}})</p> 
        <div class="purchase-buttons">
            {% if user.profile == product.owner %}
                <a href="{% url 'merchstore:edit' product.id %}"><button>Edit Listing</button></a>
            {% elif product.stock > 0 %}
                <button data-status="to_ship">Buy Now</button>
                <button data-status="on_cart">Add To Cart</button>
            {% else %}
                <a><button disabled>Out of Stock</button></a>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}
{% block scripts %}
<script src="{% static 'merchstore/scripts/priceFormatter.js' %}"></script>
<script src="{% static 'merchstore/scripts/order.js' %}"></script>
{% endblock  %}